/* styles specific to the hero section */

#figure-main-photo {
   
}

@media screen and (max-width: 1000px) {
    #figure-main-photo {
        width: 100%;
        height: 100%;
    }
}

#main-photo {
    height: auto;
    display: block;
    width: 100%;
}

.our-names {
    font-size: 3rem;
}

.two-pane {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10rem;
}

.info-pane {
    gap: 2rem;
}

.info-pane-names {
    gap: 0.5rem;
}

@media screen and (max-width: 1450px) {
    .two-pane {
        flex-direction: column;
        row-gap: 1rem;
    }
}
