/*styles specific to navigation */
:root {
    --blue: #3266ad;
    --black: #09080a;
    --white: #FAFAF5;
}

header {
    position: sticky;
    top: 0;
    background-color: var(--white);
    z-index: 1;
    color: var(--black);
    font-style: normal;
    font-weight: 500;
    font-size: 1.1rem;
}

    header a {
        color: var(--black);
    }

    header a:link {
        text-decoration: none;
    }

    header a:hover, a:active, a:focus {
        text-decoration: underline;
        text-decoration-thickness: 0.2rem;
        text-decoration-color: var(--blue);
        color: var(--black);
    }   


.top-nav-menu {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}


.top-nav {
    box-shadow: 1px 1px 1.2px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem 0 1rem;
}

    .top-nav input[type="checkbox"],
    #top-nav-hamburger-label {
        display: none;
    }

#top-nav-collapsible li a {
    /*    color: var(--black);*/
}

.top-nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}

    .top-nav ul li {
        padding: 1rem 0.5rem;
    }

@media screen and (max-width: 1062px) {
    /*if the checkbox is not marked, the menu is not displayed */
    .top-nav input[type="checkbox"]:not(:checked) ~ .top-nav-menu #top-nav-collapsible {
        display: none;
    }

    .top-nav input[type="checkbox"]:not(:checked) ~ #top-nav-hamburger-label > :last-child {
        display: none;
    }

    .top-nav input[type="checkbox"]:checked ~ #top-nav-hamburger-label > :first-child {
        display: none;
    }



    .top-nav {
        flex-direction: column;
        padding: 1rem 0;
    }

    .top-nav-menu {
        flex-direction: column;
    }




    #top-nav-hamburger-label {
        display: block;
        padding: 0;
        cursor: pointer;
    }

    .top-nav ul li {
        padding: 0;
    }

    .top-nav .font-title li {
        padding: 0;
    }

    #top-nav-collapsible {
        flex-direction: column;
    }

        #top-nav-collapsible li {
            padding-top: 0.3rem;
        }
}
